:root {
  --bg-color: #a8dadc;
  --secondary-color: #457b9d;
  --fg-color: #1d3557;
  --clear-color: #e63946;

  --dark-bg-color: #16213e;
  --dark-secondary-color: #0f3460;
  --dark-clear-color: #e94560;
}

body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: sans-serif;
}

* {
  transition: background-color 0.5s ease;
  transition: color 0.5 ease;
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;

}

main {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background-color: var(--bg-color);
}

.theme-toggler {
  position: absolute;
  background-color: var(--bg-color);
  box-shadow: 5px 5px 10px -3px #00000040;
  cursor: pointer;
  height: 40px;
  width: 80px;
  top: 5%;
  left: 50%;
  transform: translate(-150%);
  transition: transform 0.5s ease;
  border-radius: 1em;
}

.toggler-icon {
  position: absolute;
  background-color: var(--fg-color);
  width: 40px;
  height: 40px;
  border-radius: 1em;
  transition: ease 0.5s transform;
}

.ri-moon-line {
  color: var(--fg-color);
  position: absolute;
  line-height: 40px;
  font-size: 2em;
  right: 4px;
}

.ri-sun-line {
  color: white;
  position: absolute;
  line-height: 40px;
  font-size: 2em;
  left: 4px;
}

.container {
  position: absolute;
  border: 4px solid var(--fg-color);
  border-radius: 3px;
  padding: 10px;
  min-width: 150px;
  min-height: 225px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.display {
  height: 100px;
  width: 200px;
  box-sizing: border-box;
  font-size: 2.1em;
  padding: 4px;
  position: relative;
  margin-bottom: 5px;
  text-align: end;
  transition: 1s all ease;
  box-shadow: 5px 5px 10px -3px #00000040, -4px -4px 10px -3px #00000040;
  border-radius: 0.5em;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.calculadora {
  margin-top: 10px;
  position: relative;
  height: 255px;
  width: 200px;
  user-select: none;
  box-sizing: border-box;
  transition: all 1s ease;
}

.calculadora > div {
  text-align: center;
}

button {
  font-size: 16px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  height: 3em;
  width: 2.7em;
  border: none;
  margin: 0.1em auto;
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

.btn-numero {
  background-color: var(--bg-color);
}

.btn-operacion {
  background-color: var(--secondary-color);
}

.btn-limpiar {
  background-color: var(--clear-color);
}

.btn-igual {
  border-radius: 1rem;
  height: 6em;
  background-color: var(--fg-color);
  color: white;
}

#retroceder {
  background-color: var(--fg-color);
  color: white;
}

.operando {
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
  padding: 2px;
}

.operando::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 2px; /* Tamaño del scroll en horizontal */
  /* display: none;   */
}

.operando::-webkit-scrollbar-thumb {
  background: var(--fg-color);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.operando::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.operando::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary-color);
}

.parcial {
  height: 45px;
  box-sizing: border-box;
  overflow-x: scroll;
  padding: 2px;
}

.parcial::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 2px; /* Tamaño del scroll en horizontal */
  /* display: none;   */
}

.parcial::-webkit-scrollbar-thumb {
  background: var(--fg-color);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.parcial::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.parcial::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary-color);
}

.historial-btn {
  position: absolute;
  background-color: var(--fg-color);
  box-shadow: 5px 5px 10px -3px #00000040;
  cursor: pointer;
  height: 40px;
  width: 50px;
  top: 5%;
  left: 50%;
  transform: translate(130%);
  transition: transform 0.5s ease;
  border-radius: 1em;
}

.ri-menu-line {
  color: var(--bg-color);
  position: absolute;
  right: 9px;
  font-size: 2em;
  line-height: 1.2em;
}

.historial-title {
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s all ease;
  background-color: var(--fg-color);
  font-size: 0.6em;
  color: transparent;
}

.historial-title > p {
  margin: 0px;
}

.historial-title-historial-abierto {
  padding-left: 5px;
  padding-right: 8px;
  height: 30px;
  font-size: 1.2em;
  color: white;
  border-bottom: 1px solid white;
}

.historial-borrar {
  cursor: pointer;
  user-select: none;
  font-size: 0.9em;
}

.historial {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  height: 0px;
  width: 200px;
  background-color: var(--fg-color);
  transition: 1s all ease;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 5px 5px 10px -3px #00000040;
}

.historial::-webkit-scrollbar {
  width: 2px; /* Tamaño del scroll en vertical */
  height: 2px; /* Tamaño del scroll en horizontal */
  /* display: none;   */
}

.historial::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.historial::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.historial::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary-color);
}

.historial-abierto {
  height: 240px;
  color: white;
  padding: 5px;
}

.display-historial-abierto {
  transition: 1s all ease;
  border-radius: 0px 0px 0.5em 0.5em;
}

.calculadora-historial-abierto {
  height: 0px;
  transition: all 1s ease;
  overflow: hidden;
}

.historial-display {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 60px;
  align-items: end;
  justify-content: end;
  background-color: var(--fg-color);
  transition: 1s all ease;
  color: transparent;
  box-sizing: border-box;
}

.historial-display-abierto {
  padding: 2px;
  color: white;
  border-top: 1px solid white;
}

.operando-historial,
.parcial-historial {
  font-size: 1.5em;
}

/* DARK MODE */

.dark main {
  background-color: var(--dark-bg-color);
}

.dark .theme-toggler {
  background-color: var(--dark-bg-color);
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00000040;
}

.dark .ri-moon-line {
  color: var(--dark-secondary-color);
}

.dark .toggler-icon {
  background-color: white;
  transform: translateX(40px);
}

.dark .container {
  border-color: var(--dark-secondary-color);
}

.dark .display {
  color: white;
}

.dark button {
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 10px -3px #00000040;
}

.dark .btn-numero {
  background-color: var(--dark-bg-color);
}

.dark .btn-operacion {
  background-color: var(--dark-secondary-color);
}

.dark .btn-limpiar {
  background-color: var(--dark-clear-color);
}

.dark .btn-igual {
  background-color: var(--fg-color);
}

.dark .operando::-webkit-scrollbar-thumb {
  background: var(--dark-fg-color);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.dark .operando::-webkit-scrollbar-thumb:hover {
  background: var(--dark-secondary-color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.dark .operando::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-secondary-color);
}

.dark .parcial::-webkit-scrollbar-thumb {
  background: var(--dark-fg-color);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.dark .parcial::-webkit-scrollbar-thumb:hover {
  background: var(--dark-secondary-color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.dark .parcial::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-secondary-color);
}

.dark .historial-btn {
  background-color: var(--dark-secondary-color);
  box-shadow: 5px 5px 10px -3px #00000040;
}

.dark .ri-menu-line {
  color: white;
}

.dark .historial-display {
  background-color: var(--dark-secondary-color);
}

.dark .historial {
  background-color: var(--dark-secondary-color);
}

.dark .historial::-webkit-scrollbar-thumb {
  background: var(--dark-bg-color);
  border-radius: 4px;
}

@media (max-height: 600px) {
  .theme-toggler {
    top: 2%;
  }

  .historial-btn {
    top: 2%;
  }
}

@media (max-height: 500px) {

  .container {
    max-height: 290px;
  }

  .theme-toggler {
    top: 6%;
    height: 30px;
    width: 60px;
  }

  .toggler-icon {
    width: 30px;
    height: 30px;
  }

  .ri-moon-line {
    right: 3px;
    font-size: 1.5em;
    line-height: 30px;
  }

  .ri-sun-line {
    left: 3px;
    line-height: 30px;
    font-size: 1.5em;
  }

  .display {
    height: 75px;
    width: 161px;
    font-size: 1.5em;
  }

  .operando, .parcial {
    height: 35px;
  }

  .calculadora {
    height: 180px;
    width: 161px;
  }

  button {
    height: 2.1em;
    width: 2.1em;
  }

  .btn-igual {
    height: 4.2em;
  }

  .historial-btn {
    top: 6%;
    height: 30px;
    width: 40px;
    transform: translate(130%);
  }

  .ri-menu-line {
    line-height: 30px;
    right: 8px;
    font-size: 1.5em;
  }
  .historial-title-historial-abierto {
    height: 30px;
    font-size: 1em;
  }

  .historial {
    width: 161px;
  }

  .historial-abierto {
    height: 175px;
  }

  .historial-display {
    height: 45px;
  }

  .historial-display-abierto {
    font-size: 1em;
    height: 50px;
  }

  .operando-historial,
  .parcial-historial {
    font-size: 1.2em;
  }

  .dark .toggler-icon {
    transform: translateX(30px);
  }
}


@media (max-height: 400px) {

  .container {
    max-height: 230px;
  }

  .theme-toggler {
    height: 20px;
    width: 50px;
  }

  .toggler-icon {
    width: 20px;
    height: 20px;
  }

  .ri-moon-line {
    right: 2px;
    font-size: 1em;
    line-height: 20px;
  }

  .ri-sun-line {
    left: 2px;
    line-height: 20px;
    font-size: 1em;
  }

  .display {
    height: 50px;
    width: 125px;
    font-size: 0.8em;
  }

  .operando, .parcial {
    height: 22px;
  }

  .calculadora {
    height: 140px;
    width: 123px;
  }

  button {
    height: 1.5em;
    width: 1.5em;
  }

  .btn-igual {
    height: 3em;
  }

  .historial-btn {
    height: 20px;
    width: 25px;
    transform: translate(200%);
  }

  .ri-menu-line {
    line-height: 20px;
    right: 4.5px;
    font-size: 1em;
  }
  .historial-title-historial-abierto {
    height: 15px;
    font-size: 0.6em;
  }

  .historial {
    width: 125px;
  }

  .historial-abierto {
    height: 140px;
  }

  .historial-display {
    height: 30px;
  }

  .historial-display-abierto {
    font-size: 0.8em;
  }

  .operando-historial,
  .parcial-historial {
    font-size: 0.8em;
  }

  .dark .toggler-icon {
    transform: translateX(30px);
  }
}

@media (max-height: 300px) {
  .theme-toggler, .historial-btn {
    top: 3%;
  }
}